unsloth[colab-new]
trl>=0.9.6
transformers>=4.43.0
datasets>=2.20.0
accelerate>=0.33.0
bitsandbytes>=0.43.1
huggingface_hub>=0.24.0
python-dotenv>=1.0.1
sentencepiece
protobuf
langchain>=0.2.11
langchain-community>=0.2.10
langchain-huggingface>=0.0.3
pypdf>=4.3.1
faiss-cpu>=1.8.0
rank_bm25>=0.2.2
sentence-transformers>=3.0.1
duckduckgo-search>=6.2.6
gradio>=4.39.0
rouge-score>=0.1.2
